#fieldset{
    width: 0px;
    text-align: justify-all;
}
main{
    margin: 0px auto;
    padding: 30px 0px;
    width: 400px;
    background-color: #35676e;
}
header{
    text-align: center;
    background-color: #0a5991;
    color:white;
}
body{
    background-color: #65c2cf;
}
#submit-label{
    width: 40em;
}